body{
    font-family: 'Love Ya Like A Sister', cursive;
}

.wrap{
    margin:0 auto;
    width:1000px;
}
.logo{
    text-align:center;
    margin-top:200px;
}
.logo img{
    width:350px;
}
.logo p{
    color:#272727;
    font-size:40px;
    margin-top:1px;
}
.logo p span{
    color:lightgreen;
}
.sub a{
    color:#fff;
    background:#272727;
    text-decoration:none;
    padding:10px 20px;
    font-size:13px;
    font-family: arial, serif;
    font-weight:bold;
    -webkit-border-radius:.5em;
    -moz-border-radius:.5em;
    border-radius:.5em;
}

.nav-tabs {
    margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
    .masonry[data-columns]::before {
        content: '1 .col-xs-12';
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .masonry[data-columns]::before {
        content: '1 .col-xs-8';
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .masonry[data-columns]::before {
        content: '1 .col-xs-8';
    }
}

@media screen and (min-width: 1200px) {
    .masonry[data-columns]::before {
        content: '1 .col-xs-8';
    }
}

.text-error {
     color: red;
 }

select .chosen {
    width: 100%;
}

.chosen-container-single .chosen-single {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
.chosen-container-single .chosen-single span {
    padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
    margin-top: 2px;
}

.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    border-color: #ccc;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}

.inline-block {
    display: inline-block;
}

.comment-border {
    border: black 1px solid;
    border-radius: 5px;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}